<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
Id <br>
<p th:text="${user.getId()}">id</p> <br>

Name <br>
<p th:text="${user.getName()}">name</p> <br>


Age <br>
<p th:text="${user.getAge()}">age</p><br>

Password <br>
<p th:text="${user.getPassword()}">password</p><br>

<div sec:authorize="hasRole('ROLE_ADMIN')">
    <a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a>
    <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
        <input type="submit" value="Delete">
    </form>
</div>


<br><br>
<form th:method="POST" th:action="@{/logout}" >
    <input type="submit" value="Logout">
</form>
</body>
</html>